{% extends 'layouts/base.html' %}

{% block content %}
<section class="hero-section">
    <div class="skill-container">
        <div class="profile-card skill-compact half-card">
            <h2 class="page-title-compact">Hard Skill</h2>
            <ul class="edu-list-compact">
                <li><span class="dot"></span> <strong>Python</strong></li>
                <li><span class="dot"></span> <strong>PHP</strong></li>
                <li><span class="dot"></span> <strong>Java Scrpit</strong></li>
                <li><span class="dot"></span> <strong>Git</strong></li>
            </ul>
        </div>

        <div class="profile-card skill-compact half-card">
            <h2 class="page-title-compact">Soft Skill</h2>
            <ul class="edu-list-compact">
                <li><span class="dot"></span> <strong>Komunikasi</strong></li>
                <li><span class="dot"></span> <strong>Manajemen Waktu</strong></li>
                <li><span class="dot"></span> <strong>Kerjasama Tim</strong></li>
                <li><span class="dot"></span> <strong>Adaptabilitas</strong></li>
            </ul>
        </div>
    </div>
</section>
{% endblock %}