{% extends 'layouts/base.html' %}

{% block content %}
<section class="hero-section">
    <div class="profile-card contact-compact">
        <h2 class="page-title-compact">Kontak</h2>
        
        <ul class="contact-list">
            <li>
                <span class="dot"></span>
                <strong class="contact-label">Email</strong> :
                <a href="mailto:inabbb02@gmail.com">sabriansyakir@gmail.com</a>
            </li>
            <li>
                <span class="dot"></span>
                <strong class="contact-label">Whatsapp</strong> : 
                <a href="https://wa.me/085281784378?text=Halo%20Sabrian,%20saya%20tertarik%20dengan%20portofolio%20Anda" target="_blank">
                    0852********
                </a>
            </li>
            <li>
                <span class="dot"></span>
                <strong class="contact-label">Github</strong> : 
                <a href="https://github.com/sabrian-dot" target="_blank">github.com/sabrian-dot</a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}