{% extends 'layouts/base.html' %}

{% block content %}
<section class="hero-section">
    <div class="profile-card education-compact">
        <h2 class="page-title-compact">Riwayat Pendidikan</h2>
        
        <ul class="edu-list-compact">
            <li><span class="dot"></span> 2012 - 2019: <strong>SDN 100 BUTON</strong></li>
            <li><span class="dot"></span> 2019 - 2021: <strong>SMPN 45 BUTON</strong></li>
            <li><span class="dot"></span> 2021 - 2024: <strong>SMKN 01 BUTON</strong> <small>- Teknik Komputer dan Jaringan</small></li>
            <li><span class="dot"></span> 2024 - Sek: <strong>Universitas Dayanu Ikhsanuddin</strong> <small>- Teknik Informatika</small></li>
        </ul>
    </div>
</section>
{% endblock %}